<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<script src="/javascripts//jquery.min.js"></script>
<script src="/javascripts//bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts//jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/todo.js"></script>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/todolist.css' />
</head>
<body>
	<div class="todoHeading">
		<div class="todoHeadingText">{{title}}</div>
	</div>
	<div class='container-fluid' class="clearfix">
		<div class="row">
			<div class="col-sm-2 sidebar-nav " id="sidebar-wrapper">
				<ul class="nav nav-list">
					<li class="active"><a href="/tasks">Today</a></li>
					<li><a href="/Yesterday">Yesterday</a></li>
					<li><a href="/Yesterday">Last Week</a></li>
					<li><a href="/Yesterday">Last Month</a></li>
					<li><a href="/Yesterday">Last 6 Months</a></li>
				</ul>
			</div>
			{{{body}}}
		</div>
	</div>
</body>
</html>
