body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #F5F5F5;
}

a {
	color: #00B7FF;
}

.sidebar-nav {
	padding: 10px;
	background-color: white;
	height: 500px;
}

.nav.nav-list a {
	padding: 5px 10px;
	font-size: 18px;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus
	{
	background-color: #428BCA;
	color: #FFFFFF;
}

.nav-header {
	color: darkgrey;
	font-weight: bold;
}

.todoHeading {
	background-color: #428BCA;
	height: 80px;
	padding: 15px 30px;
	margin: auto;
}

.todoHeadingText {
	width: 30%;
	text-align: left;
	font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}

.todobody {
	padding: 10px;
}

#sidebar-wrapper {
	height: 100%;
	z-index: 1000;
	transition: all 0.4s ease 0s;
	top: 40px;
}

.clearfix::after {
	clear: both;
	display: table;
}

.todobadge {
	width: 40px;
	height: 30px;
	font-size: 20px;
	border-radius: 20px;
	padding: 5px 7px;
	background-color: #1b910b;
}